:root {
  --body: #696969;
  --background: #f2e8cf;
  --verde: #117A1E;
  --rojo: #800020;
}

body {
  position: relative;
}

footer {
  min-width: 295px !important;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--background);
  font-size: 16px;
}

footer .enlaces ul{
  list-style: none;
  width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

footer .enlaces li{
  margin-left: 10px;
}

footer .enlaces a{
  text-decoration: none;
  color: black;
}

footer .info {
  margin-top: 15px;
}

footer .info span {
  display: flex;
  justify-content: center;
}

footer span span {
  color: var(--rojo);
}

@media(max-width: 800px) {
  footer {
    grid-template-columns: auto;
  }
}

@media(max-width: 400px) {
  footer {
    font-size: 12px;
  }
}