body{
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.form-container{
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    width: 600px;
    margin: auto;

    /* Fondo panel */
    background-color: var(--backgroundTransparencia);
    backdrop-filter: blur(4px);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.75);
    border: 2px solid var(--background);
    
    & h1{
        font-size: 40px;
        margin-bottom: 15px;
    }
}

button{
    background-color: var(--background);
    border: 1px solid var(--background);
    border-radius: 6px;
    color: var(--b_n);
    padding: 8px 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
button:hover {
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.1s;
}
.contenido{
    /* display: flex; */
    /* justify-content: center; */
    background-image: var(--backgroundFormulario);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0;
    color: var(--b_n);
    flex: 1;
}
/* Select */
.form__asunto select{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid var(--background);
    background-color: var(--background);
    outline: none;
    cursor: pointer;
    color: var(--b_n);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
/* Textarea, Inputs y Labels */
.form__inputs{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.form__input, .form__textarea{
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--background);
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    color: var(--b_n);
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

#telefono:focus::placeholder{
    color: gray;
}

.form__label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    user-select: none;
    color: var(--b_n);
}
.form__input:focus, .form__textarea:focus {
    ~ .form__label{
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        font-weight:700;
    }
}
.form__textarea{
    height: 100px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    max-height: 300px;
}
.form__select{
    font-size: 1rem;
    color: rgb(75, 74, 74);
}

@media(max-width: 768px) {
    .form-container{
        width: 500px;
        
    }
}
@media(max-width: 500px){
    .form-container{
        width: 425px;
    }
}
@media(max-width: 430px) {
    .form-container{
        width: 100%;
    }
}
