:root {
    --body: #696969;
    --background: #f2e8cf;
    --verde: #117A1E;
    --rojo: #800020;
}
@font-face {
    font-family: "Red Hat";
    src: url(../font/RedHatDisplay.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat";
  }
body{
    min-height: 100vh;
    background-color: var(--background);
}

.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 500px;
    padding-left: 12%;
    padding-top: 2%;

    & h1{
        font-size: 40px;
        margin-bottom: 15px;
    }

    & select{
        width: 200px;
        height: 25px;
    } 
}
#textarea{
    width: 600px;
    height: 65px;
    min-width: 600px;
    min-height: 50px;
    max-width: 600px;
    max-height: 300px;
}
button{
    background-color: var(--background);
    border: 1px solid rgb(58, 58, 58);
    border-radius: 6px;
    color: #24292E;
    padding: 8px 13px;
}
button:hover {
    background-color: rgb(230, 215, 180);
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.1s;
  }

.contenido{
    display: flex;
    justify-content: center;

    background-image: url(../images/Vernazza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
}

.form-container{
    background-color: #f2e8cfac;
    backdrop-filter: blur(4px);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.75);
}

/* Inputs y Labels */
.form__inputs{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--background);
    outline: 0;
    font-size: 1.3rem;
    color: ;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}
.form__label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    user-select: none;
    color: rgb(75, 74, 74);
}
.form__input:focus{
    ~ .form__label{
        
    }
}



/*

*/