:root {
    --body: #696969;
    --background: #f2e8cf;
    --verde: #117A1E;
    --rojo: #800020;
}
@font-face {
    font-family: "Red Hat";
    src: url(../font/RedHatDisplay.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat";
  }
body{
    min-height: 100vh;
    background-color: var(--background);
}

.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 500px;
    padding-left: 12%;
    padding-top: 2%;

    & h1{
        font-size: 40px;
        margin-bottom: 15px;
    }
}
button{
    background-color: var(--background);
    border: 1px solid rgb(58, 58, 58);
    border-radius: 6px;
    color: #24292E;
    padding: 8px 13px;
}
button:hover {
    background-color: rgb(230, 215, 180);
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.1s;
  }

.contenido{
    display: flex;
    justify-content: center;
    background-image: url(../images/Vernazza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 84vh;
}

.form-container{
    background-color: #f2e8cfac;
    backdrop-filter: blur(4px);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 24px -5px rgba(0,0,0,0.75);
    margin: auto;
}
/* Select */
.form__asunto select{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #f2e8cfac;
    background-color: var(--background);
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
/* Textarea, Inputs y Labels */
.form__inputs{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin-bottom: 20px;
}

.form__input, .form__textarea{
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--background);
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}
.form__label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    user-select: none;
    color: rgb(75, 74, 74);
}
.form__input:focus, .form__textarea:focus {
    ~ .form__label{
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        font-weight:700;
    }
}
.form__textarea{
    width: 600px;
    height: 100px;
    min-width: 600px;
    min-height: 50px;
    max-width: 600px;
    max-height: 300px;
}
.form__select{
    font-size: 1rem;
    color: rgb(75, 74, 74);
}
@media(min-width: 800px) {
    
}

@media(max-width: 800px) {
    
}

@media(max-width: 400px) {
    
}