:root {
    --body: #696969;
    --background: #f2e8cf;
    --verde: #117A1E;
    --rojo: #800020;
}

@font-face {
    font-family: "Red Hat";
    src: url(../font/RedHatDisplay.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat";
}

body {
    min-height: 100vh;
}