
:root {
    --body: #696969;
    --background: #f2e8cf;
    --verde: #117A1E;
    --rojo: #800020;
}

@font-face {
    font-family: "Pacifico";
    src: url(../font/Pacifico-Regular.ttf);
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}
img.displaySlide{
    display: block;
}
.slider button{
    position: absolute;
    top: 50%;
    
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.previous{
    left: 0%;
}
.next{
    right: 0%;
}
@keyframes fade{
    from {opacity: .5;}
    to {opacity: 1;}
}

.frase h1{
    font-family: "Pacifico";
    color: var(--body);
}

.cards{
    display: flex;
    justify-content: center; 
    gap: 100px; 
    padding: 30px;
}


.card1{
    background-image: url("../images/card1.jpg");
    -webkit-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
-moz-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
}
.card2{
    background-image: url("../images/card2.jpeg");
    -webkit-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
-moz-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
}
.card3{
    background-image: url("../images/card3.jpg");
    -webkit-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
-moz-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
}

.card {
    position: relative;
    width: 220px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card1::before,
  .card1::after {
    background-color: var(--verde);
  }

  .card2::before,
  .card2::after {
    background-color: var(--background);
  }

  .card3::before,
  .card3::after {
    background-color: var(--rojo);
  }

  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    
    transition: all 0.5s;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card:hover:after {
    content: "uwu";
  }
  /* background-color: #f2e8cf;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23e3dac2' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E"); */