
:root {
    --body: #696969;
    --background: #f2e8cf;
    --verde: #117A1E;
    --rojo: #800020;
}

@font-face {
    font-family: "Pacifico";
    src: url(../font/Pacifico-Regular.ttf);
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}
img.displaySlide{
    display: block;
}
.slider button{
    position: absolute;
    top: 50%;
    
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.previous{
    left: 0%;
}
.next{
    right: 0%;
}
@keyframes fade{
    from {opacity: .5;}
    to {opacity: 1;}
}

.frase h1{
    font-family: "Pacifico";
    color: var(--body);
}

.cards{
    display: flex;
    justify-content: center; 
    gap: 100px; 
    padding: 30px;
}


.card1{
    background-image: url("../images/card1.jpg");
    -webkit-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
-moz-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
}
.card2{
    background-image: url("../images/card2.jpeg");
    -webkit-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
-moz-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
}
.card3{
    background-image: url("../images/card3.jpg");
    -webkit-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
-moz-box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
box-shadow: 6px 6px 28px 5px rgba(158,147,158,0.66);
}

.card {
    position: relative;
    width: 220px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card1::before,
  .card1::after {
    background-color: var(--verde);
  }

  .card2::before,
  .card2::after {
    background-color: var(--background);
  }

  .card3::before,
  .card3::after {
    background-color: var(--rojo);
  }

  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    
    transition: all 0.5s;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card:hover:after {
    content: "uwu";
  }