@font-face {
    font-family: "Red Hat";
    src: url(../font/RedHatDisplay.ttf);
}
@font-face {
    font-family: "Pacifico";
    src: url(../font/Pacifico-Regular.ttf);
}

:root {
    --b_n: #222222;
    --body: #696969;
    --background: #f2e8cf;
    --backgroundTransparencia: #f2e8cfd1;
    --verde: #117A1E;
    --rojo: #800020;
    --sombra: #303130;
    --backgroundIndex: url(/resources/images/svg/topography.svg);
    --backgroundDestinos: url(/resources/images/fondos/img1-Desenfocado.jpg);
    --destinosLabelBack: #4c9be5;
    --btnBackground: #00000085;
}
.darkmode{
    --b_n: #eeeeee;
    --body: #fff;
    --background:#2d2c2a;
    --backgroundTransparencia: #3a3836d1;
    --verde: #00ff7f;
    --rojo: #ff5c5c;
    --backgroundIndex: url(/resources/images/svg/topography-dark.svg);
    --backgroundDestinos: url(/resources/images/fondos/img5-Desenfocado.jpg);
    --destinosLabelBack: #b29478;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat";
}

::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.305);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: var(--body);
    border-radius: 50px;
}
body {
    padding-top: 80px;
}

nav{
    position: fixed;
    top: 0;
    min-width: 295px !important;
    width: 100%;
    background-color: var(--background);
    backdrop-filter: blur(30px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 0 10%;
    z-index: 100;
}

nav img{
    height: 100%;
    margin: 0 30px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 80px;
}

nav a{
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    margin: 22px 20px 0 20px;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--body);
    fill: var(--body);
}

nav li:first-child{
    margin-right: auto;
}
nav li a:first-child{
    margin-top: 0;
    height: 100%;
}

.barraSuperior a:hover {
    color: var(--rojo);
    border-bottom: solid 3px var(--rojo);
    transition: 0.15s;
}
.barraSuperior li:first-child a:hover{
    border-bottom: none;
}
.barraSuperior li:last-child a:hover{
    fill: var(--rojo);
    border: none;
}

.barraLateral{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--background);
    backdrop-filter: blur(30px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.barraLateral li{
    width: 100%;
}

.barraLateral li:first-child a{
    margin-top: 10px;
}

.barraLateral a{
    width: 100%;
    margin: 0;
    padding-left: 20px;
}

.barraLateral li:first-child a:hover{
    fill: var(--rojo);
    border-bottom: none;
}

.barraLateral a:hover {
    color: var(--rojo);
    border-bottom: solid 3px var(--rojo);
    transition: 0.3s;
}

.actual{
    color:var(--verde);
}

.botonMenuNav{
    display: none;
}

#theme-switch{
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    border-color: black;
    background-color: var(--body);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right:60px;
}
#theme-switch svg{
    fill: var(--background)
}

#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}

footer{
    color: var(--body);
}

footer .enlaces a {
    text-decoration: none;
    color: var(--body);
}

@media(min-width: 768px) {
    .barraLateral {
        display: none !important;
    }
}

@media(max-width: 768px) {
    .ocultarResponsive{
        display: none;
    }
    .botonMenuNav{
        display: block;
    }
    nav{
        padding: 0;
    }
    #theme-switch{
        right: 80px;
    }
}

@media(max-width: 450px) {
    .barraLateral{
        width: 100%;
    }
}